/******************************************************************************/
/*************************** PARA LA IMPRESORA ********************************/
/******************************************************************************/

//top, right, bottom y left


div.Total
{
    position:absolute; top:529px; left:737px;
     
}
div.Anio
{
    position:absolute; 
    top:64px; 
    left:585px;
    
}
div.Cuerpo
{
    position:absolute; 
    top:226px; 
    left:26px;
     
}
div.Encabezado
{
    position:absolute; 
    top:105px; 
    left:83px;    
}

/******************************************************************************/
/******************************************************************************/
/******************************************************************************/
